<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Bike</title>
		<link href="./vendor/bootstrap-3.1.1/css/bootstrap.min.css"
		      rel="stylesheet">
		<link rel="stylesheet" href="style.css">
		<script src="./vendor/angular-1.2.14/angular.min.js"></script>
	</head>
	<body op-bike>
	  <canvas op-canvas-bike></canvas>

		<div class="container">
			<h1>Bike</h1>
    </div>

    <div op-bike-controls>
      <div class="control">
        <label for="front-wheel-radius">Front Wheel Radius</label>
        <input id="front-wheel-radius" ng-model="bike.frontWheel.radius"
               type="number" min="1" max="200">
      </div>
      <div class="control">
        <label for="rear-wheel-radius">Rear Wheel Radius</label>
        <input id="rear-wheel-radius" ng-model="bike.rearWheel.radius"
               type="number" min="1" max="200">
      </div>
      <div class="control">
        <label for="bottom-bracket-drop">Bottom Bracket Drop</label>
        <input id="bottom-bracket-drop" ng-model="bike.bottomBracket.drop"
               type="number" min="0" max="200">
      </div>
      <div class="control">
        <label for="seat-tube-length">Seat Tube Length</label>
        <input id="seat-tube-length" ng-model="bike.seatTube.length"
               type="number" min="1" max="200">
      </div>
      <div class="control">
        <label for="seat-tube-angle">Seat Tube Angle</label>
        <input id="seat-tube-angle" ng-model="bike.seatTube.angle"
               type="number" min="0" max="360">
      </div>
      <div class="control">
        <label for="chain-stay-length">Chain Stay Length</label>
        <input id="chain-stay-length" ng-model="bike.chainStay.length"
               type="number" min="1" max="200">
      </div>
      <div class="control">
        <label for="head-tube-length">Head Tube Length</label>
        <input id="head-tube-length" ng-model="bike.headTube.length"
               type="number" min="1" max="200">
      </div>
      <div class="control">
        <label for="head-tube-angle">Head Tube Angle</label>
        <input id="head-tube-angle" ng-model="bike.headTube.angle"
               type="number" min="0" max="360">
      </div>
      <div class="control">
        <label for="stack">Stack</label>
        <input id="stack" ng-model="bike.stack"
               type="number" min="1" max="200">
      </div>
      <div class="control">
        <label for="reach">Reach</label>
        <input id="reach" ng-model="bike.reach"
               type="number" min="1" max="200">
      </div>
      <div class="control">
        <label for="rake">Rake</label>
        <input id="rake" ng-model="bike.rake"
               type="number" min="0" max="200">
      </div>
      <div class="control">
        <label for="upper-leg-length">Upper Leg Length</label>
        <input id="upper-leg-length" ng-model="bike.upperLegLength"
               type="number" min="1" max="200">
      </div>
      <div class="control">
        <label for="lower-leg-length">Lower Leg Length</label>
        <input id="lower-leg-length" ng-model="bike.lowerLegLength"
               type="number" min="1" max="200">
      </div>
      <div class="control">
        <label for="pedal-angle">Pedal Angle</label>
        <input id="pedal-angle" ng-model="bike.pedalAngle"
               type="number" min="0" max="360" step="10">
      </div>
    </div>

    <div id="debug"></div>

		<script src="debug.js"></script>
    <script src="bike.js"></script>
    <script src="canvas-bike.js"></script>
    <script src="ng.js"></script>
	</body>
</html>