<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Bike</title>
		<link rel="stylesheet" href="style.css">
		<script src="./vendor/angular-1.2.14/angular.min.js"></script>
	</head>
	<body op-bike>
  	<header>
      <h1>Bike</h1>
    </header>

    <nav class="site-nav" role="navigation"
         op-cyclist-controls op-bike-controls op-adjustment-controls>
      <h2>Cyclist</h2>

      <h3>Size</h3>

      <section id="cyclist-size">
        <div class="control">
          <label for="torsoLength">Torso Length</label>
          <input id="torsoLength" ng-model="bike.torsoLength"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="upperArmLength">Upper Arm Length</label>
          <input id="upperArmLength" ng-model="bike.upperArmLength"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="lowerArmLength">Lower Arm Length</label>
          <input id="lowerArmLength" ng-model="bike.lowerArmLength"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="upperLegLength">Upper Leg Length</label>
          <input id="upperLegLength" ng-model="bike.upperLegLength"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="lowerLegLength">Lower Leg Length</label>
          <input id="lowerLegLength" ng-model="bike.lowerLegLength"
                 type="number" min="0" max="1000">
        </div>
      </section>

      <h3>Position</h3>

      <section id="cyclist-position">
        <div class="control">
          <label for="elbow.angle">Elbow Angle</label>
          <input id="elbow.angle" ng-model="bike.elbow.angle"
                 type="number" min="0" max="1000">
        </div>
      </section>

      <h2>Bike</h2>

      <h3>Frame</h3>

      <section id="bike-frame">
        <div class="control">
          <label for="bottomBracket.drop">Bottom Bracket Drop</label>
          <input id="bottomBracket.drop" ng-model="bike.bottomBracket.drop"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="seatTube.angle">Seat Tube Angle</label>
          <input id="seatTube.angle" ng-model="bike.seatTube.angle"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="seatTube.length">Seat Tube Length</label>
          <input id="seatTube.length" ng-model="bike.seatTube.length"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="chainStay.length">Chain Stay Length</label>
          <input id="chainStay.length" ng-model="bike.chainStay.length"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="headTube.angle">Head Tube Angle</label>
          <input id="headTube.angle" ng-model="bike.headTube.angle"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="headTube.length">Head Tube Length</label>
          <input id="headTube.length" ng-model="bike.headTube.length"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="headSet.length">Head Set Length</label>
          <input id="headSet.length" ng-model="bike.headSet.length"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="stack">Stack</label>
          <input id="stack" ng-model="bike.stack"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="reach">Reach</label>
          <input id="reach" ng-model="bike.reach"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="rake">Rake</label>
          <input id="rake" ng-model="bike.rake"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="straightFork.length">Fork Length</label>
          <input id="straightFork.length" ng-model="bike.straightFork.length"
                 type="number" min="0" max="1000">
        </div>
      </section>

      <h3>Handlebars</h3>

      <section id="handlebars">
        <div class="control">
          <label for="handlebar.drop">Handlebar Drop</label>
          <input id="handlebar.drop" ng-model="bike.handlebar.drop"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="handlebar.reach">Handlebar Reach</label>
          <input id="handlebar.reach" ng-model="bike.handlebar.reach"
                 type="number" min="0" max="1000">
        </div>
      </section>

      <h3>Wheels</h3>

      <section id="wheels">
        <div class="control">
          <label for="frontWheel.diameter">Front Wheel Diameter</label>
          <input id="frontWheel.diameter" ng-model="bike.frontWheel.diameter"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="frontWheel.tyre">Front Wheel Tyre</label>
          <input id="frontWheel.tyre" ng-model="bike.frontWheel.tyre"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="rearWheel.diameter">Rear Wheel Diameter</label>
          <input id="rearWheel.diameter" ng-model="bike.rearWheel.diameter"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="rearWheel.tyre">Rear Wheel Tyre</label>
          <input id="rearWheel.tyre" ng-model="bike.rearWheel.tyre"
                 type="number" min="0" max="1000">
        </div>
      </section>

      <h2>Adjustments</h2>

      <h3>Drive Chain</h3>

      <section id="drive-chain">
        <div class="control">
          <label for="pedal.radius">Pedal Radius</label>
          <input id="pedal.radius" ng-model="bike.pedal.radius"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="pedal.angle">Pedal Angle</label>
          <input id="pedal.angle" ng-model="bike.pedal.angle"
                 type="number" min="0" max="1000">
        </div>
      </section>

      <h3>Seat</h3>

      <section id="seat-adjustments">
        <div class="control">
          <label for="seatPost.length">Seat Post Length</label>
          <input id="seatPost.length" ng-model="bike.seatPost.length"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="seat.length">Seat Length</label>
          <input id="seat.length" ng-model="bike.seat.length"
                 type="number" min="0" max="1000">
        </div>
      </section>

      <h3>Stem</h3>

      <section id="stem-adjustments">
        <div class="control">
          <label for="stem.length">Stem Length</label>
          <input id="stem.length" ng-model="bike.stem.length"
                 type="number" min="0" max="1000">
        </div>
        <div class="control">
          <label for="stem.angle">Stem Angle</label>
          <input id="stem.angle" ng-model="bike.stem.angle"
                 type="number" min="0" max="1000">
        </div>
      </section>

      <h2>Animation</h2>

      <section id="animation">
        <div class="control">
          <label for="bike-animate">Animate?</label>
          <button id="bike-animate" op-bike-animate>Go</button>
        </div>
      </section>
    </nav>

    <main role="main">
      <canvas op-canvas-bike></canvas>
    </main>

    <div id="debug"></div>

    <!-- <script src="./debug.js"></script> -->
    <script src="bike.js"></script>
    <script src="canvas-bike.js"></script>
    <script src="ng.js"></script>
	</body>
</html>