/*$primary-color: #2a2a2a;
$secondary-color: #888888;
$background-color: #ededed;*/

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.8);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  background-color: #ededed;
  font: normal 100%/1.4 "Lucida Grande", "Lucida Sans Unicode",
        "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #2a2a2a;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  margin: 0;
  padding: 1rem;
  line-height: 1rem;
}

h1 {
  background-color: #2a2a2a;
  color: #ededed;
}

h2 {
  background-color: #2a2a2a;
  color: #ededed;
}

h3 {
  background-color: #3f3f3f;
  color: #ededed;
}

h1 + section, h2 + section, h3 + section {
  background-color: #545454;
  color: #ededed;
  padding: 1rem;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
}

body {
  perspective: 350px;
  -webkit-perspective: 350px;
  overflow: hidden;
}

.site-nav, main {
  transition: all 0.2s ease-in;
}

.site-nav {
  position: absolute;
  overflow: auto;
  top: 3rem;
  left: 0;
  bottom: 0;
  right: 60%;
  transform: translate(-100%, 0);
}

.site-nav.open {
  transform: translate(0, 0);
}

main {
  position: absolute;
  overflow: hidden;
  top: 3rem;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotateY(0deg);
  transform-origin: 100%;
  background-color: pink;
}

.site-nav.open + main {
  transform: rotateY(-45deg);
}

[op-canvas-bike] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.control {
  padding: 0.5em 0;
  text-align: center;
}

#debug {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  text-align: right;
  text-shadow: 1px 1px 1px white;
}

@media (min-width: 58rem) {

}







input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 12px 0;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  /*box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;*/
  background: #000000;
  border-radius: 6px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  /*box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);*/
  border: 4px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000000;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  /*box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;*/
  background: #000000;
  border-radius: 25px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  /*box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);*/
  border: 4px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 50%;
  /*box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;*/
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 50%;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  /*box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);*/
  border: 4px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  height: 12px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #000000;
}
