/*$primary-color: #2a2a2a;
$secondary-color: #888888;
$background-color: #ededed;*/

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  background-color: #ededed;
  font: normal 100%/1.4 "Lucida Grande", "Lucida Sans Unicode",
        "Lucida Sans", Geneva, Verdana, sans-serif;
  color: #2a2a2a;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  margin: 0;
  padding: 1rem;
  line-height: 1rem;
}

h1 {
  background-color: #2a2a2a;
  color: #ededed;
}

h2 {
  background-color: blue;
  color: #ededed;
}

h3 {
  background-color: green;
  color: #ededed;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
}

main {
  position: absolute;
  overflow: auto;
  top: 3rem;
  left: 30%;
  bottom: 0;
  right: 0;
}

.site-nav {
  position: absolute;
  overflow: auto;
  top: 3rem;
  left: 0;
  bottom: 0;
  right: 70%;
}

[op-canvas-bike] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.control {
  padding: 0.5em 0;
}

/* Clearfix */
.control:before,
.control:after {
  content: " ";
  display: table;
}

.control:after {
  clear: both;
}

.control label,
.control input {
  float: left;
  margin: 0;
}

.control label {
  width: 50%;
  text-align: right;
  padding-right: 1em;
}

.control input {
  width: 50%;
}