<!DOCTYPE html>
<html ng-app="myApp" lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Bike</title>

    <!-- <prod>
    <link rel="stylesheet" href="style.css">
    <script src="../vendor/angular/angular.min.js"></script>
         </prod> -->

    <!-- <dev> -->
    <link rel="stylesheet" href="style.css">
    <script src="../vendor/angular/angular.js"></script>
    <!-- </dev> -->
	</head>
	<body op-bike ng-init="navOpen = false">
  	<header>
      <h1>Bike <button ng-click="navOpen = !navOpen">Menu</button></h1>
    </header>

    <nav class="site-nav" role="navigation"
         op-cyclist-controls op-bike-controls op-adjustment-controls
         ng-class="{ open: navOpen }">
      <h2>Cyclist</h2>

      <h3>Size</h3>

      <section id="cyclist-size">
        <div class="control">
          <label for="torsoLength">
            Torso Length ({{ bike.torsoLength }}mm)
          </label>
          <input id="torsoLength" ng-model="bike.torsoLength"
                 type="range" min="300" max="600" integer>
        </div>
        <div class="control">
          <label for="upperArmLength">
            Upper Arm Length ({{ bike.upperArmLength }}mm)
          </label>
          <input id="upperArmLength" ng-model="bike.upperArmLength"
                 type="range" min="100" max="500" integer>
        </div>
        <div class="control">
          <label for="lowerArmLength">
            Lower Arm Length ({{ bike.lowerArmLength }}mm)
          </label>
          <input id="lowerArmLength" ng-model="bike.lowerArmLength"
                 type="range" min="100" max="500" integer>
        </div>
        <div class="control">
          <label for="upperLegLength">
            Upper Leg Length ({{ bike.upperLegLength }}mm)
          </label>
          <input id="upperLegLength" ng-model="bike.upperLegLength"
                 type="range" min="100" max="500" integer>
        </div>
        <div class="control">
          <label for="lowerLegLength">
            Lower Leg Length ({{ bike.lowerLegLength }}mm)
          </label>
          <input id="lowerLegLength" ng-model="bike.lowerLegLength"
                 type="range" min="100" max="500" integer>
        </div>
      </section>

      <h3>Position</h3>

      <section id="cyclist-position">
        <div class="control">
          <label for="elbow.angle">
            Elbow Angle ({{ bike.elbow.angle }}&#176;)
          </label>
          <input id="elbow.angle" ng-model="bike.elbow.angle"
                 type="range" min="75" max="180" integer>
        </div>
      </section>

      <h2>Bike</h2>

      <h3>Frame</h3>

      <section id="bike-frame">
        <div class="control">
          <label for="bottomBracket.drop">
            Bottom Bracket Drop ({{ bike.bottomBracket.drop }}mm)
          </label>
          <input id="bottomBracket.drop" ng-model="bike.bottomBracket.drop"
                 type="range" min="0" max="500" integer>
        </div>
        <div class="control">
          <label for="seatTube.angle">
            Seat Tube Angle ({{ bike.seatTube.angle }}&#176;)
          </label>
          <input id="seatTube.angle" ng-model="bike.seatTube.angle"
                 type="range" min="65" max="120" integer>
        </div>
        <div class="control">
          <label for="seatTube.length">
            Seat Tube Length ({{ bike.seatTube.length }}mm)
          </label>
          <input id="seatTube.length" ng-model="bike.seatTube.length"
                 type="range" min="0" max="1000" integer>
        </div>
        <div class="control">
          <label for="chainStay.length">
            Chain Stay Length ({{ bike.chainStay.length }}mm)
          </label>
          <input id="chainStay.length" ng-model="bike.chainStay.length"
                 type="range" min="0" max="1000" integer>
        </div>
        <div class="control">
          <label for="headTube.angle">
            Head Tube Angle ({{ bike.headTube.angle }}&#176;)
          </label>
          <input id="headTube.angle" ng-model="bike.headTube.angle"
                 type="range" min="5" max="110" integer>
        </div>
        <div class="control">
          <label for="headTube.length">
            Head Tube Length ({{ bike.headTube.length }}mm)
          </label>
          <input id="headTube.length" ng-model="bike.headTube.length"
                 type="range" min="0" max="1000" integer>
        </div>
        <div class="control">
          <label for="headSet.length">
            Head Set Length ({{ bike.headSet.length }}mm)
          </label>
          <input id="headSet.length" ng-model="bike.headSet.length"
                 type="range" min="0" max="1000" integer>
        </div>
        <div class="control">
          <label for="stack">
            Stack ({{ bike.stack }}mm)
          </label>
          <input id="stack" ng-model="bike.stack"
                 type="range" min="100" max="500" integer>
        </div>
        <div class="control">
          <label for="reach">
            Reach ({{ bike.reach }}mm)
          </label>
          <input id="reach" ng-model="bike.reach"
                 type="range" min="100" max="600" integer>
        </div>
        <div class="control">
          <label for="rake">
            Rake ({{ bike.rake }}mm)
          </label>
          <input id="rake" ng-model="bike.rake"
                 type="range" min="0" max="500" integer>
        </div>
        <div class="control">
          <label for="straightFork.length">
            Fork Length ({{ bike.straightFork.length }}mm)
          </label>
          <input id="straightFork.length" ng-model="bike.straightFork.length"
                 type="range" min="0" max="1000" integer>
        </div>
      </section>

      <h3>Handlebars</h3>

      <section id="handlebars">
        <div class="control">
          <label for="handlebar.drop">
            Handlebar Drop ({{ bike.handlebar.drop }}mm)
          </label>
          <input id="handlebar.drop" ng-model="bike.handlebar.drop"
                 type="range" min="50" max="500" integer>
        </div>
        <div class="control">
          <label for="handlebar.reach">
            Handlebar Reach ({{ bike.handlebar.reach }}mm)
          </label>
          <input id="handlebar.reach" ng-model="bike.handlebar.reach"
                 type="range" min="50" max="500" integer>
        </div>
      </section>

      <h3>Wheels</h3>

      <section id="wheels">
        <div class="control">
          <label for="frontWheel.diameter">
            Front Wheel Diameter ({{ bike.frontWheel.diameter }}mm)
          </label>
          <input id="frontWheel.diameter" ng-model="bike.frontWheel.diameter"
                 type="range" min="200" max="1000" integer>
        </div>
        <div class="control">
          <label for="frontWheel.tyre">
            Front Wheel Tyre ({{ bike.frontWheel.tyre }}mm)
          </label>
          <input id="frontWheel.tyre" ng-model="bike.frontWheel.tyre"
                 type="range" min="200" max="1000" integer>
        </div>
        <div class="control">
          <label for="rearWheel.diameter">
            Rear Wheel Diameter ({{ bike.rearWheel.diameter }}mm)
          </label>
          <input id="rearWheel.diameter" ng-model="bike.rearWheel.diameter"
                 type="range" min="200" max="1000" integer>
        </div>
        <div class="control">
          <label for="rearWheel.tyre">
            Rear Wheel Tyre ({{ bike.rearWheel.tyre }}mm)
          </label>
          <input id="rearWheel.tyre" ng-model="bike.rearWheel.tyre"
                 type="range" min="200" max="1000" integer>
        </div>
      </section>

      <h2>Adjustments</h2>

      <h3>Drive Chain</h3>

      <section id="drive-chain">
        <div class="control">
          <label for="pedal.radius">
            Crank Length ({{ bike.pedal.radius }}mm)
          </label>
          <input id="pedal.radius" ng-model="bike.pedal.radius"
                 type="range" min="50" max="300" integer>
        </div>
        <div class="control">
          <label for="pedal.angle">
            Pedal Angle ({{ bike.pedal.angle }}&#176;)
          </label>
          <input id="pedal.angle" ng-model="bike.pedal.angle"
                 type="range" min="0" max="360" integer>
        </div>
      </section>

      <h3>Seat</h3>

      <section id="seat-adjustments">
        <div class="control">
          <label for="seatPost.length">
            Seat Post Length ({{ bike.seatPost.length }}mm)
          </label>
          <input id="seatPost.length" ng-model="bike.seatPost.length"
                 type="range" min="0" max="1000" integer>
        </div>
        <div class="control">
          <label for="seat.length">
            Seat Length ({{ bike.seat.length }}mm)
          </label>
          <input id="seat.length" ng-model="bike.seat.length"
                 type="range" min="0" max="1000" integer>
        </div>
      </section>

      <h3>Stem</h3>

      <section id="stem-adjustments">
        <div class="control">
          <label for="stem.length">
            Stem Length ({{ bike.stem.length }}mm)
          </label>
          <input id="stem.length" ng-model="bike.stem.length"
                 type="range" min="0" max="1000" integer>
        </div>
        <div class="control">
          <label for="stem.angle">
            Stem Angle ({{ bike.stem.angle }}&#176;)
          </label>
          <input id="stem.angle" ng-model="bike.stem.angle"
                 type="range" min="0" max="90" integer>
        </div>
      </section>

      <h2>Misc</h2>

      <section id="misc">
        <div class="control">
          <label for="bike-animate">
            Animate?
          </label>
          <button id="bike-animate" op-bike-animate>Go</button>
        </div>
        <div class="control">
          <label for="image-url">
            Image URL
          </label>
          <input id="image-url" ng-model="imageUrl" type="text">
        </div>
        <div class="control">
          <label for="image-scale">
            Image Scale ({{ imageScale }}x)
          </label>
          <input id="image-scale" ng-model="imageScale"
                 type="range" min="0" max="2" step="0.1" value="1">
        </div>
        <div class="control">
          <label for="image-translate-x">
            Image Translate X ({{ imageTranslateX }}%)
          </label>
          <input id="image-translate-x" ng-model="imageTranslateX"
                 type="range" min="-100" max="100" value="0" integer>
        </div>
        <div class="control">
          <label for="image-translate-y">
            Image Translate Y ({{ imageTranslateY }}%)
          </label>
          <input id="image-translate-y" ng-model="imageTranslateY"
                 type="range" min="-100" max="100" value="0" integer>
        </div>
      </section>
    </nav>

    <main role="main">
      <img src="{{ imageUrl }}"
           style="transform: scale({{ imageScale }}) translate({{ imageTranslateX }}%, {{ imageTranslateY }}%);">
      <canvas op-canvas-bike></canvas>
    </main>

    <!-- <prod>
    <script src="bike.min.js"></script>
         </prod> -->

    <!-- <dev> -->
    <script src="bike.js"></script>
    <script src="canvas-bike.js"></script>
    <script src="ng.js"></script>
    <!-- </dev> -->
	</body>
</html>